<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
        <!-- <img src="your-image-url-here.jpg"> -->
        <form (submit)="To_DB()" #myForm="ngForm" >
            <div class="formbold-form-title">
                <h2 class="">12th MARK STATE BOARD MARK ENTRY</h2>

            </div>

            <div class="formbold-input-flex">
                <div>
                    <label for="Year" class="formbold-form-label">
                        Batch_no*
                    </label>
                    <select name="Regulation" id="Year" class="formbold-form-input" [(ngModel)]="student_10th_mark_data.batch_no"
                         required>
                        <option value="" disabled selected hidden>Select year</option>
                        <option [value]="2020">2020-2024</option>
                        <option [value]="2021">2021-2025</option>
                        <option [value]="2022">2022-2026</option>`          
                        <option [value]="2023">2023-2027</option>
                        <option [value]="2024">2024-2028</option>
                    </select>
                    <!-- <div *ngIf="yearField.invalid && yearField.touched"s class="error-message">
                            Year is required.
                          </div> -->
                </div>
                <div>

                    <label for="Semester" class="formbold-form-label">Education_Type* </label>
                    <select name="Regulation" class="formbold-form-input" [(ngModel)]="student_10th_mark_data.education_type"
                        required>
                        <option value="" disabled selected hidden>Select education_type</option>
                        <option value="State_Board">State Board</option>
                        <option value="CBSC">CBSC</option>
                        <option value="ICSC">ICSE</option>
                    </select>

                </div>
                <div>
                    <label for="Regulation" class="formbold-form-label"> year_of_passing* </label>
                    <select name="Regulation" id="Regulation" class="formbold-form-input" [(ngModel)]="student_10th_mark_data.year_of_passing"
                         required> 
                        <option value="" disabled selected hidden>Select year_of_passing</option>
                        <!-- <option [value]="2017">2017</option> -->
                        <option [value]="2021">2020</option>
                        <option [value]="2021">2021</option>
                        <option [value]="2021">2022</option>
                        <option [value]="2021">2023</option>
                        <option [value]="2021">2024</option>

                    </select>
                </div>
            </div>
            <div class="formbold-input-flex">
                <div><label for="Tamil_Mark" class="formld-form-label">
                        Tamil Mark*
                    </label>
                    <input type="number" name="Tamil_Mark" id="Tamil_Mark" class="formbold-form-input"  [(ngModel)]="student_10th_mark_data.tamil"/>
                </div>
                <div><label for="English_Mark" class="formld-form-label">
                        English Mark*
                    </label>
                    <input type="number" name="English_Mark" id="English_Mark" class="formbold-form-input"  [(ngModel)]="student_10th_mark_data.english"/>
                </div>
                <div><label for="MAths_Mark" class="formld-form-label">
                        MAths Mark*
                    </label>
                    <input type="number" name="MAths_Mark" id="MAths_Mark" class="formbold-form-input"  [(ngModel)]="student_10th_mark_data.maths"/>
                </div></div>

            <div class="formbold-input-flex">
                <div><label for="Tamil_Mark" class="formld-form-label">
                        Science Mark*
                    </label>
                    <input type="number" name="Tamil_Mark" id="Tamil_Mark" class="formbold-form-input"   [(ngModel)]="student_10th_mark_data.science"/>
                </div>
                <div><label for="English_Mark" class="formld-form-label">
                        Social Science Mark*
                    </label>
                    <input type="number" name="English_Mark" id="English_Mark" class="formbold-form-input"  [(ngModel)]="student_10th_mark_data.social_science"/>
                </div>
                <div>
                    <label for="addtional_sub" class="formbold-form-label"> Addtional Subject</label>
                    <select name="addtional_sub" id="addtional_sub" class="formbold-form-input"  [(ngModel)]="student_10th_mark_data.additional_subject"
                    required>
                        <option value="" disabled selected hidden>Select Addtional Subject</option>
                        <!-- <option [value]="2017">2017</option> -->
                        <option value="Computer Science">Computer Science</option>
                        <option value="Physical Education">Physical Education</option>
                    </select>
                </div>
                

            </div>



            <div class="formbold-input-flex">
                <div><label for="total" class="formld-form-label">
                    Addtional Subject Mark*
                </label>
                <input type="number" name="additional_subject_mark" id="additional_subject_mark"  [(ngModel)]="student_10th_mark_data.total" class="formbold-form-input" />
            </div>
                <div><label for="additional_subject_mark" class="formbold-form-label">
                    Total*
                </label>
                <input type="text" name="additional_subject_mark" id="additional_subject_mark" class="formbold-form-input" [(ngModel)]="student_10th_mark_data.additional_subject_mark"
                   required placeholder="Enter Your total Mark" />
            </div>
            <div><label for="percentage" class="formbold-form-label">
                Percentage*
            </label>
            <input type="text" name="percentage" id="percentage" class="formbold-form-input" [(ngModel)]="student_10th_mark_data.percentage"
               required placeholder="Enter Your percentage Mark" />
        </div>

            </div>

            <button type="submit" [disabled]='!myForm.form.valid'
                [ngClass]="{'default-button':!myForm.form.valid,'blue-button':myForm.form.valid}">Add To DB</button>
        </form>
    </div>
</div>